[MASTER]
ignore=migrations
extension-pkg-whitelist=pydantic,fastapi,sqlalchemy

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    W0611,  # unused-import
    E1101,  # no-member (alembic, sqlalchemy)
    E0213,  # no-self-argument (pydantic validators)

[FORMAT]
max-line-length=120